################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASCOM.NGCAT.Focuser/obj/Debug
