################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASCOM.NGCAT.Focuser/obj/Debug
/.vs/ASCOM.NGCAT.Focuser/v16
/ASCOM.NGCAT.Focuser/bin/Debug
/ASCOM.NGCAT.Focuser/obj
